body {
  font-family: 'Montserrat', sans-serif;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.btn {
  text-decoration: none;
}
.bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url('../public/will&fam.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  padding-top: 50px;
}
.footer-links {
  list-style-type: none;
}
.footer-links a:hover {
  color: #0dcaf0;
}
.social-icons {
  font-size: xx-large;
}
a {
  color: #fff;
  text-decoration: none;
}
